<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Book" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="book_author" property="bookAuthor" jdbcType="VARCHAR" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="book_number" property="bookNumber" jdbcType="INTEGER" />
    <result column="book_price" property="bookPrice" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, book_author, book_name, book_number, book_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from books
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from books
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Book" >
    insert into books (id, book_author, book_name, 
      book_number, book_price)
    values (#{id,jdbcType=BIGINT}, #{bookAuthor,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, 
      #{bookNumber,jdbcType=INTEGER}, #{bookPrice,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Book" >
    insert into books
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bookAuthor != null" >
        book_author,
      </if>
      <if test="bookName != null" >
        book_name,
      </if>
      <if test="bookNumber != null" >
        book_number,
      </if>
      <if test="bookPrice != null" >
        book_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bookAuthor != null" >
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null" >
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNumber != null" >
        #{bookNumber,jdbcType=INTEGER},
      </if>
      <if test="bookPrice != null" >
        #{bookPrice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Book" >
    update books
    <set >
      <if test="bookAuthor != null" >
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null" >
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookNumber != null" >
        book_number = #{bookNumber,jdbcType=INTEGER},
      </if>
      <if test="bookPrice != null" >
        book_price = #{bookPrice,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Book" >
    update books
    set book_author = #{bookAuthor,jdbcType=VARCHAR},
      book_name = #{bookName,jdbcType=VARCHAR},
      book_number = #{bookNumber,jdbcType=INTEGER},
      book_price = #{bookPrice,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>